.custom-select {
  min-width: 350px;
}

.custom-select select {
  height: auto;
  width: auto;
  padding: .5rem 2rem .5rem 1rem;
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  font-size: 1.15rem;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.privacy--form {
  label {
    margin-top: 1rem;
  }

  .button {
    margin-top: 1rem;
  }

  .pwd {
    text-transform: none;
    display: block;
    padding: 0.2rem 0.5rem;
    color: rgb(199, 37, 78);
    font-size: 1rem;
    background: #fff;
    word-break: break-all;
    text-align: left;
  }
}

.privacy--error {
  color: rgb(199, 37, 78);
}

.privacy--form {
  .AccountPrivacy__btn-container {
    .button {
      @extend .e-btn;
      margin-bottom: 2em;
    }
  }
}